$twitter-icon-img: "/assets/icon/twitter.png";
$instagram-icon-img: "/assets/icon/instagram.png";
$social-icon-size: 25px;
$rank-font-size: 20px;
$team-name-font-size: 18px;

.lb-list-item {
  background-color: white;
  padding: 15px;
}


.social {
  display: inline-block;
  height: $social-icon-size;
  width: $social-icon-size;
  background-size: contain;
}

.social-twitter {
  background-image: url($twitter-icon-img);
}

.social-instagram {
  background-image: url($instagram-icon-img);
}


.list-rank {
  font-size: $rank-font-size;
}

.team-name {
  font-size: $team-name-font-size;
}
