<div class="lb-list-item mat-elevation-z2">
  <div class="container" fxLayout fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center">
    <div fxFlexAlign="center" class="rank-cont" fxFlex="230px;"><span class="list-rank">#{{rank}}</span></div>

    <div fxFlex fxFlexAlign="center"><span class="team-name">{{item.team.name}}</span></div>
    <div fxFlex fxFlexAlign="center">
      <i class="social social-twitter"></i>&nbsp;{{item.stats.twitter.tweet_count}}
      <i class="social social-instagram"></i>&nbsp;{{item.stats.instagram.instagram_post_count}}
    </div>
    <div fxFlexAlign="center" fxFlex> Total Engangements: {{item.stats.total_engangement}}
    </div>
  </div>
