$twitter-icon-img: "/assets/icon/twitter.png";
$instagram-icon-img: "/assets/icon/instagram.png";
$social-icon-size: 25px;
$member-pic-size: 32px;
$rank-font-size: 25px;
$team-name-font-size: 20px;
;
.lb-list-item {
  background-color: white;
  padding: 15px;
}


.social {
  display: inline-block;
  height: $social-icon-size;
  width: $social-icon-size;
  background-size: contain;
}

.social-twitter {
  background-image: url($twitter-icon-img);
}

.social-instagram {
  background-image: url($instagram-icon-img);
}

.member-picture {
  height: $member-pic-size;
  width: $member-pic-size;
}



.list-rank {
  font-size: $rank-font-size;
}

.team-name {
  font-size: $team-name-font-size;
}
